---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Karla";
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.7862;
$large-font-size:  $base-font-size * 1.272;
$larger-font-size: $base-font-size * 1.618;
$largest-font-size: $base-font-size * 2.0581;
$base-line-height: 1.5;
$title-height: 36px;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fff;
$my-blue:          #1D5878;
$my-red: 		   #CE3119;
$my-green:         #669357;
$my-gold:		   #DF7D1D;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    95%;

$on-palm:          600px;
$on-tablet:        900px;
$on-laptop:        1024px;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
