---
layout: default
---

<div id="filter">
  <button id="all">All work</button>
  <button id="graphics">Graphics</button>
  <button id="projects">Projects</button>
  <button id="illustrations">Illustrations</button>
  <button id="oddities">Oddities</button>
</div>

<ul class="post-list">
  {% for post in site.posts %}
    <li class="{{ post.category }}">
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>

      {% if post.image %}
        <div class="image-wrapper">
          <img src="{{ post.image }}" style="width: 100%" align="center" />
          {% if post.storylink %}
            <a href="{{ post.storylink }}">View story</a>
          {% endif %}
          {% if post.writeup %}
            <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
          {% endif %}
        </div>
      {% endif %}

    </li>
  {% endfor %}
</ul>