---
layout: default
---

<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        {% if post.image %}
        <a href="{{ post.url | prepend: site.baseurl }}">
          <div class="image-wrapper">
            <img src="{{ post.image }}" style="width: 100%" align="center" />
          </div>
        </a>
        {% endif %}

        <!-- <p>{{ post.content | strip_html | truncatewords: 10 }}</p> -->
      </li>
    {% endfor %}
  </ul>

</div>
