/**
 * Site header
 */


header > div.border {
  padding-left: $spacing-unit + 15;
      border-bottom: 2px solid $my-gold;
    margin-left: 25%;
    margin-right: 25%;
  @include media-query($on-palm){
    padding-left: $spacing-unit;
  }
}

.site-title {
    color: $text-color;
    font-family: "Chronicle Display A", "Chronicle Display B";
    font-size: 48px;
    display: inline-block;
    margin: 0 auto;
    line-height: 1.2;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 300;
    width: 100%;


    @include media-query($on-palm) {
      margin-left: 0;
    }
}



.hidden {
    display: none;
}



/**
 * Page content
 */

ul.post-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    gap: 20px;

    li {
        flex-basis: 366px;
        padding: 10px;
    }

    img {
        min-width: 0;
    }
}

a.post-link {
  color: #626262;
}

.post-link {
    display: block;
    font-family: "Ringside Regular A", "Ringside Regular B";;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 1.1;
}


/**
 * Posts
 */

.post {
  margin: 20px auto;
  max-width: 700px;
  padding: 0 35px;
  width: 66%;

    @include media-query($on-palm) {
      padding: 0;
      width: 90%;
    }
}

.post-title {
    font-size: 33px;
    font-family: "Ringside Regular A", "Ringside Regular B";;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 5px;
}

.post-header {
  margin-top: 55px;
    p.involvement {
      font-size: 16px;
      color: #B2B2B2;
      margin-bottom: 0 !important;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    @include media-query($on-palm) {
        width: 100%;
    }

    img {
      margin: $spacing-unit 0;
      max-width: 100%;
    }

    a {
        color: #126caf;
        font-weight: bold;
    }

    p {
        color: #5E5E5E;
        font-weight: 400;
    }

    p.date {
      font-family: "Ringside Regular A", "Ringside Regular B";;
      font-size: 15px;
      margin: 15px 0 20px 0;
    }

}

