
//Print styles
@page { margin: 0; }
   .print-page {
    width: 8.5in;
    height: 11in;
    padding: 0.5in;

    .site-title.name {
        margin-bottom: 30px;
        padding: 0;
        text-align: left;
    }

    a {
        text-decoration: underline;
    }

    a:visited {
        color: #555553;
    }

    a:hover {
        opacity: 0.7;
        text-decoration: underline;
    }
    .main-content {
        color: #212121;
        display: flex;
        gap: 80px;
         -webkit-print-color-adjust: exact;
         print-color-adjust: exact;

        .experience {
            width: 1010px;

            ul {
                padding: 0 ;
                list-style: none;

                li {
                    font-size: 15px;

                    display: flex;
  align-items: flex-start;

                }

                li::before {
  content: "•";
  color: $my-gold;
  font-weight: bold;
  display: inline-block;
  width: 12px; /* Explicitly locks horizontal bullet spacing */
  flex-shrink: 0; /* Prevents the bullet from squeezing on small screens */
}
            }
        }

        .skills {
            color: #777673;
             -webkit-print-color-adjust: exact;
             print-color-adjust: exact;
        }

        .section-title {
            // color: #777673;
            // font-family: "Ringside Compressed A", "Ringside Compressed B";
            color: #000000;//#777266;
            font-family: "Ringside Regular A", "Ringside Regular B";
            font-size: 15px;
            font-weight: 100;
            line-height: 1.1;
            letter-spacing: 1px;
            margin: 0 0 10px 0;
             -webkit-print-color-adjust: exact;
             print-color-adjust: exact;
        }

        .company-name {
            color: #464542;
            font-family: "Ringside Regular A", "Ringside Regular B";
            font-size: 16px;
            font-weight: 600;
            margin: 0;
             -webkit-print-color-adjust: exact;
             print-color-adjust: exact;

             &.lg {
                font-size: 19px;
             }
        }

        .job-title {
            font-family: "Ringside Regular A", "Ringside Regular B";
            font-size: 15px;
            margin: -4px 0 4px 0;

             &.lg {
                font-size: 17px;
             }

        }

        .description {
            color: #555553;
            font-family: "Chronicle Text G1 A","Chronicle Text G1 B";
            line-height: 1.3;
            margin: 0 0 12px 0;
             -webkit-print-color-adjust: exact;
             print-color-adjust: exact;

             &.lg {
                margin: 0 0 28px 0;
             }

             &.sm {
                color: #777673;
                font-size: 14px;
             }

             &.intro {
                margin-bottom: 8px;
             }

        }

        // .smaller {
        //     opacity: 0.9;
        // }

        .rail-wrap {
            display: flex;

            font-family: "Ringside Regular A", "Ringside Regular B";
            flex-direction: column;
            justify-content: space-between;
            height: 10.9in;

            ul {
                font-size: 15px;
                list-style-type: none;

                li {
                    line-height: 1.2;
                    margin-bottom: 8px;
                    span {
                        color: #8f8e89;
                        font-weight: 800;
                    }

                    &.space {
                        padding-bottom: 12px;
                    }
                }
            }

            .contact-info {
                font-family: "Chronicle Text G1 A","Chronicle Text G1 B";
                p {
                    margin: 0;

                    a {
                        border-top: 3px solid #dd7c1d;
                        display: block;
                        font-family: "Ringside Regular A", "Ringside Regular B";
                        font-size: 16px;
                        padding: 6px 0;
                        margin-top: 12px;
                        margin-right: -0.5in;
                    }
                }
                .section-title {
                    color: #dd7c1d;
                     -webkit-print-color-adjust: exact;
                     print-color-adjust: exact;
                }
            }
        }

    }

    .cover-letter {
        .description {
            color: #3c3b39;
             -webkit-print-color-adjust: exact;
             print-color-adjust: exact;
            a {
                // color: #3c7b99;
                 -webkit-print-color-adjust: exact;
                 print-color-adjust: exact;
            }
        }

        .rail-wrap {
            width: 424px;
        }
    }

}